* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #cc5e5e;
  text-decoration: none;
}

.white-word {
  color: white;
}

.red-word {
  color: #cc5e5e;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #323232;
  position: sticky;
  top: 0;
  height: 5em;
  z-index: 100;
}

.tab-box {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25em;
  font-family: tahoma, Helvetica, sans-serif;
  margin-right: 50px;
}

.logo img {
  width: 100px;
}

.logo {
  margin-left: 3em;
}

.tab {
  margin: 0 25px 0 25px;
  color: white;
  font-weight: 600;
}

.tab:hover {
  margin: 0 25px 0 25px;
  color: #cc5e5e;
  font-weight: 600;
}

.gradient-box {
  width: 100%;
  height: 0.5em;
  background: linear-gradient(to right, #d6a561, #cb4959, #3a3a3a);
  position: sticky;
  top: 5em;
  z-index: 101;
}

body {
  background: linear-gradient(to right, #333, #555555, #333);
}

.bodyBackground {
  background-image: url("websitebgbw.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.homeTextBox {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10em;
  margin-right: 7.5em;
  text-align: center;
}

.homeText {
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 2.5em;
}

.homeTextButton {
  color: #ffffff;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  border: 0.3em solid #cc5e5e;
  padding: 0.4em;
  background-color: transparent;
}

.homeTextButton:hover {
  color: #cc5e5e;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  border: 0.3em solid;
  padding: 0.4em;
  background-color: transparent;
}

.socialBox svg {
  fill: #ffffff;
}

.socialBox svg:hover {
  fill: #cc5e5e;
}

.socialBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  background-color: rgba(0, 0, 0, 0.164);
  width: 2em;
  border: 0.2em solid;
  border-color: #cc5e5e;
  border-radius: 1em;
  padding: 1.5em;
  margin-top: 20em;
  margin-left: 1em;
  position: sticky;
  top: 7.5em;
}

.mainBoxContainer {
  display: flex;
  flex-direction: row;
}

.mainBoxLeft {
  width: 10vw;
}

.mainBoxRight {
  width: 90vw;
}

.mainBoxRightAboutMe {
  width: 90vw;
  display: flex;
}

.pageTitle {
  font-size: 2em;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 2em;
}

.pageSubtitle {
  color: white;
  font-size: 1em;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 0.5em;
}

.pageTitleTwo {
  font-size: 1.5em;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 2em;
}

.paragraphText {
  color: white;
  font-size: 1.25em;
  font-family: tahoma, Helvetica, sans-serif;
  margin-top: 0.5em;
  /* margin-bottom: 5em; */
  line-height: 1.5;
}

.aboutMeButtonBox {
  display: flex;
  margin-top: 1em;
  gap: 2em;
}

.aboutMeButtonResume {
  color: #ffffff;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  border: 0.3em solid #cc5e5e;
  padding: 0.4em;
  width: 5.5em;
}

.aboutMeButtonResume:hover {
  color: #cc5e5e;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  border: 0.3em solid;
  padding: 0.4em;
  background-color: transparent;
}

.aboutMeButtonBC {
  color: #ffffff;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  border: 0.3em solid #cc5e5e;
  padding: 0.4em;
  width: 8.5em;
}

.aboutMeButtonBC:hover {
  color: #cc5e5e;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  border: 0.3em solid;
  padding: 0.4em;
  background-color: transparent;
}

.bioBox {
  margin-top: 2em;
  width: 60em;
}

.grid-container {
  margin-top: 2em;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.box {
  padding: 10em 1em 1em 1em;
  text-align: center;
  width: 25em;
  height: 15em;
}

.formBoxContainer {
  margin-top: 2em;
  /* border: 0.4em solid #cc5e5e; */
  height: 35em;
  width: 75em;
  display: flex;
}

.formBoxText {
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.25em;
}

input[type="text"] {
  color: #cc5e5e;
  border: 0.3em solid #cc5e5e;
  padding: 5px;
  background-color: transparent;
  font-size: 1.25em;
}

.formBox {
  margin-top: 2.5em;
}

.formBoxBig {
  margin-top: 2em;
  margin-left: 5em;
}

.formBoxTextInput {
  width: 41.5em;
  height: 19em;
  color: white;
}

textarea {
  color: #cc5e5e;
  border: 0.3em solid #cc5e5e;
  padding: 5px;
  background-color: transparent;
  font-size: 1.25em;
  font-family: tahoma, Helvetica, sans-serif;
  resize: none;
}

.messageButton {
  color: #ffffff;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  border: 0.3em solid #cc5e5e;
  padding: 0.4em;
  background-color: transparent;
  margin: 0.8em 0 0 6em;
  width: 7.5em;
}

.messageButton:hover {
  color: #cc5e5e;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  border: 0.3em solid;
  padding: 0.4em;
  background-color: transparent;
  margin: 0.8em 0 0 6em;
  width: 7.5em;
}

.Bodoni {
  background-image: url(Bodoni\ Poster.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ThingsPoster {
  background-image: url(100\ Things\ Poster.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ThingsWebsite {
  background-image: url(100\ Things\ Website.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.artGalleryWebsite {
  background-image: url(Art\ Gallery\ Website.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.f1App {
  background-image: url(F1\ App\ Redesign.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bruinsMatchbox {
  background-image: url(Bruins\ Matchbox.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.lwfWebsite {
  background-image: url();
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pgPoster {
  background-image: url(Pierre\ Gasly\ Poster.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mPoster {
  background-image: url(Jonathan\ Marchessault\ Poster.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.jhPoster {
  background-image: url(Jack\ Hughes\ Poster.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ddPoster {
  background-image: url(Dynamic\ Duo\ Poster.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.lsPoster {
  background-image: url(Logan\ Sargeant\ copy.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.epPoster {
  background-image: url(Elias\ Pettersson\ Poster-04.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.booklet {
  background-image: url(Vancouver\ Canucks\ Booklet.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.desk {
  background-image: url();
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.oldWebsite {
  background-image: url(website\ landing.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.artgalleryWebsite {
  background-image: url();
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.lwfWebsite {
  background-image: url(Living\ Wage\ Foundation.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.desk {
  background-image: url(desk.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.websiteGridContainer {
  margin-top: 2em;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.gridTitle {
  color: white;
  font-size: 24px;
  font-family: tahoma, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 2em;
}

.verticalPosterGridContainer {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3em;
}

.verticalPoster {
  padding: 10em 1em 1em 1em;
  text-align: center;
  width: 12em;
  height: 15em;
}

.horizontalPosterGridContainer {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3em;
}

.sportsPosterContainer {
  margin-bottom: 5em;
}

.otherGridContainer {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3em;
  margin-bottom: 64px;
}

hr {
  background-color: #cc5e5e;
  height: 0.5em;
  border: none;
  margin-top: 0.5em;
}

.artworkBox {
  display: flex;
  margin-top: 5em;
  width: 85em;
}

.artworkTextBox {
  margin-left: 2em;
  color: white;
  font-size: 1.25em;
  font-family: tahoma, Helvetica, sans-serif;
  margin-top: 0.5em;
}

.artworkDescription {
  font-weight: normal;
  line-height: 1.5;
}

.oldWebsiteImage {
  width: 50em;
}

.thingsWebsite {
  width: 60em;
}

.artGallery {
  width: 60em;
}

.bruinsMatchboxImage {
  width: 50em;
}

.epPosterImage {
  width: 60em;
}

.pgPosterImage {
  width: 35em;
}

.jmPosterImage {
  width: 35em;
}

.jhPosterImage {
  width: 35em;
}

.ddPosterImage {
  width: 30em;
}

.lsPosterImage {
  width: 35em;
}

.f1AppImage {
  width: 20em;
  height: auto;
}

.bodoniPosterImage {
  width: 60em;
}

.thingsPosterImage {
  width: 60em;
}

.bookletImage {
  width: 30em;
}

.linkHover:hover {
  color: #cc5e5e;
}

.secondRowImages {
  width: 35em;
}

.secondRow {
  display: flex;
  align-items: flex-start;
}

.mainBoxRightImage {
  margin: 4em 0 0 5em;
}

.headshot {
  width: 25em;
}

.homeParagraphText {
  width: 20em;
  text-align: left;
  margin-bottom: 1.5em;
}

.slantSlicksheet {
  background-image: url(AIS\ Slicksheet\ Slant.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blueBlackSlicksheet {
  background-image: url(AIS\ Slicksheet\ Blue.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blueGreenSlicksheet {
  background-image: url(AIS\ Slicksheet\ Green.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.employeeBenefits {
  background-image: url(AIS\ Employee\ Benefits\ Page.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nwfwOnboarding {
  background-image: url(NWFW\ Onboarding\ Process\ Flowchart.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.thirtyYearLogo {
  background-image: url(30\ Year\ Anniversary\ Logo\ Final.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.thirtyYearLogo {
  background-image: url(30\ Year\ Anniversary\ Logo\ Final.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.thirtyYearLogoDrafts {
  background-image: url(30\ Year\ Anniversary\ Logo\ Basket.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.northPacifcOverview {
  background-image: url(North\ Pacific\ 2023\ Overview\ 8.5x11in.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.SEFOPOverview {
  background-image: url(SEFOP\ 2023\ Overview\ 8.5x11in.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.northeastFisheries {
  background-image: url(Northeast\ Fisheries\ Graphic.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.navbarLogo {
  height: auto;
  width: 20em;
  margin-left: 2em;
}

.hrline {
  width: 45em;
}

.aisLogoImage {
  width: 35%;
  margin: 2em;
}

.masonGomes {
  font-size: 1.5em;
}

.graphicDesigner {
  font-size: 0.9em;
}

.animation{
  width: 25em;
  height: auto;
  margin-top: 1em;
}

.baradDurIllustration {
  background-image: url(barad\ dur\ illustration-13.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 10em;
}

.shireIllustration {
  background-image: url(Shire\ Illustration-08.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 10em;
}

.ringIllustration {
  background-image: url(Ring\ Shadow-06.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 10em;
}

.oldMarinesPoster {
  background-image: url(Marines\ FInal-08.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.newMarinesPoster {
  background-image: url(Marines\ FInal-09.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dublinPoster {
  background-image: url(Dublin-25.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.umdDiscGolf {
  background-image: url(UMD\ Frisbee\ Golf\ Welcome\ Sign.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bgcRackCard {
  background-image: url(Teen\ Center\ Rack\ Card\ V3\ FRONT.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.rackCard {
  width: 20em;
}

.rackCardBottom {
  margin-top: 3em;
}

.bottomArtwork{
  display: flex;
  gap: 1em;
  margin-top: 1em;
}